$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Chelsea Market', cursive;

$colorff:#ffffff;
$color71:#727d71;
$color3d:#fbc83d;
$colora4:#a4a4a4;
$color2a:#2b2a2a;
$colorfe:#fffefe;
$colord6:#f8f6d6;
$colorea:#f7f6ea;
$colorb7:#c0c0b7;
$colorb6:#dde5b6;
$colord0:#eaedd0;